{% extends 'base.html' %}

{% block title %}{{ user.username }} | {{ block.super }}{% endblock title %}

{% block content %}
<h1><a href="{% url 'tmitter:top' %}">Tmitter</a></h1>
<h4>
    こんにちは、<a href="{% url 'tmitter:accountpage' request.user.id %}">{{ request.user.username }}</a>さん！
    <form method="post" action="{% url 'accounts:signout' %}">{% csrf_token %}
        <button class="btn" type="submit" onclick='return confirm("ログアウトしますか？");'>ログアウト</button>
    </form>
</h4>

<br>

<h2>{{ user.username }}さんのページ</h2>

{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}


{% if request.user.id == user.id %}
    <a href="{% url 'tmitter:tmeet' %}">
        <button type="button">ツミートを作成する！</button>
    </a>
{% else %}
    {% if already_followed %}
        {% if massages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
            <a href="{% url 'accounts:unfollow' user.id %}" onclick='return confirm("フォローを解除しますか？");'>
                <button type="button">フォロー解除</button>
            </a>
    {% else %}
        {% if massages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
        <a href="{% url 'accounts:follow' user.id %}"><button type="button">フォロー</button></a>
    {% endif %}
{% endif %}

<p>
    {{ tmeet_num }}ツミート&nbsp;
    <a href="{% url 'accounts:following_detail' user.id %}">{{ following_num }}フォロー</a>&nbsp;
    <a href="{% url 'accounts:follower_detail' user.id %}">{{ follower_num }}フォロワー</a>
</p>

<h4>{{ user.username }}さんのツミート</h4>


{% if not tmeet_list %}
    <p>{{ user.username }}さんはまだツミートしていません。</p>
{% else %}
    {% for tmeet in tmeet_list %}
    <p>
        <a href="{% url 'tmitter:tmeet_detail' pk=tmeet.pk %}">{{ tmeet.content }}</a>
        <br>
        ({{ tmeet.tmeeted_date }})
    </p>   
    {% endfor %} 
{% endif %}


{% endblock %}
