{% extends 'base.html' %}

{% block title %}{{ user.username }}さんのお気に入りツミート | {{ block.super }}{% endblock title %}

{% block content %}
<h1><a href="{% url 'tmitter:top' %}">Tmitter</a></h1>
<h4>
    こんにちは、<a href="{% url 'tmitter:accountpage' request.user.id %}">{{ request.user.username }}</a>さん！
    <form method="post" action="{% url 'accounts:signout' %}">{% csrf_token %}
        <button class="btn" type="submit" onclick='return confirm("ログアウトしますか？");'>ログアウト</button>
    </form>
</h4>

<br>

<h2>{{ user.username }}さんのページ</h2>

{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

<p>
    <a href="{% url 'accounts:following_detail' user.id %}">{{ following_num }}フォロー</a>&nbsp;
    <a href="{% url 'accounts:follower_detail' user.id %}">{{ follower_num }}フォロワー</a>&nbsp;
    <a href="{% url 'tmitter:accountpage' user.id %}">{{ tmeet_num }}ツミート</a>&nbsp;
    {{ account_fav_num }}お気に入り
</p>

{% if request.user.id == user.id %}
    <a href="{% url 'tmitter:tmeet' %}">
        <button type="button">ツミートを作成する！</button>
    </a>
{% else %}
    {% if is_following %}
        {% if massages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
            <a href="{% url 'accounts:unfollow' user.id %}" onclick='return confirm("フォローを解除しますか？");'>
                <button type="button">フォロー解除</button>
            </a>
    {% else %}
        {% if massages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
        <a href="{% url 'accounts:follow' user.id %}"><button type="button">フォロー</button></a>
    {% endif %}
{% endif %}


<h4>{{ user.username }}がお気に入りにしたツミート</h4>


{% if not fav_list %}
    <p>{{ user.username }}さんのお気に入りツミートはまだありません.。</p>
{% else %}
    {% for tmeet in fav_list %}
    <p>
        <a href="{% url 'tmitter:accountpage' tmeet.author.id %}">{{ tmeet.author.username }}</a>:
        <br>
        <a href="{% url 'tmitter:tmeet_detail' tmeet.pk %}">{{ tmeet.content }}</a>
        <br>
        ({{ tmeet.tmeeted_date }})
    </p>   
    {% endfor %} 
{% endif %}


{% endblock %}
