{% extends 'base.html' %}

{% block title %}トップページ | {{ block.super }}{% endblock title %}

{% block content %}

<h1><a href="{% url 'tmitter:top' %}">Tmitter</a></h1>
<h4>
    こんにちは、<a href="{% url 'tmitter:accountpage' request.user.id %}">{{ user.username }}</a>さん！
    <form method="post" action="{% url 'accounts:signout' %}">{% csrf_token %}
        <button class="btn" type="submit" onclick='return confirm("ログアウトしますか？");'>ログアウト</button>
    </form>
</h4>
<br>
<h4>タイムライン</h4>
{% if not tmeet_list %}
    <p>ここにはあなたのツミートと、あなたがフォローしているユーザーのツミートが表示されます。</p>
{% else %}
    {% for tmeet in tmeet_list %}
        <p>
            <a href="{% url 'tmitter:accountpage' tmeet.author.id %}">{{ tmeet.author }}</a>:
            <br>
            <a href="{% url 'tmitter:tmeet_detail' pk=tmeet.pk %}">{{ tmeet.content }}</a>
            <br>
            ({{ tmeet.tmeeted_date }})
        </p>   
    {% endfor %} 
{% endif %}

{% endblock %}
